* {
	background-color: black;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	color: green;
}

h1{
	font-size: 200%;
	font-weight: bold;
}

h2{
	font-size: 175%;
	font-weight: bold;
}

h3 {
	font-size: 150%;
	font-weight: bold;
}

h4{
	font-size: 125%;
	font-weight: bold;
}

h5 {
	font-size: 112%;
	font-weight: bold;
}

h6 {
	font-size: 100%;
	font-weight: bold;
}