:root{
	--aside-border: rgb(0, 255, 64) 2px solid;
	--middle-border: rebeccapurple 2px solid;
	--inside-border: yellow 2px solid;
}

* {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
	background-color: black;
}

body { /*Think of this as the page wrapper - I guess this is an older way of thinking!*/
	background-color: #101010;
	color: white;
	margin: 0 25px;
	/* border: lightblue 3px solid; */
}

h1{
	font-size: 200%;
	font-weight: bold;
	display: block;
	margin: 20px;
}

h2{
	font-size: 175%;
	font-weight: bold;
	margin: 20px;
}

h3 {
	font-size: 150%;
	font-weight: bold;
	margin: 10px;
}

h4{
	font-size: 125%;
	font-weight: bold;
	margin: 10px;
}

h5 {
	font-size: 112%;
	font-weight: bold;
	margin: 10px;
}

h6 {
	font-size: 100%;
	font-weight: bold;
	margin: 10px;
}

p{
	margin: 10px;
}


/*The code below outlines the <header> tag and its elements*/
header{
	/* border: yellow 2px dashed; */
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5px;
	min-height: 100px;
}

#top{
	display: flex;
	/* border: green 2px solid; */
	justify-content: center;
	align-items: center;
	padding: 10px;
}

nav{
	display: flex;
	/* border: green 2px solid; */
	align-self: flex-end;
	justify-content: center;
	font-size: 125%;
}

.navigation li{
	display: inline;
	margin: 0px 5px ;
	margin-right: 10px;
}
/*END of <header> tag style*/


/*The code below outlines the main <figure> tag and its elements*/
figure{
	/* border: pink 2px solid; */
	height: 400px;
    margin-bottom: 25px;
    background-image: url("../images/smiley.png");
    background-size: contain;
	background-repeat: no-repeat;
    background-position: center;
	margin: 20px;
}

figcaption{
	display: none;
}
/*END of <figure> tag style*/


/*--------------The following code outlines the <main> tag and its elements----------------------*/
main{
	display: flex;
	/* border: yellow 2px dashed; */
	min-height: max-content;
}

#main-content{
	/* border: green 2px double; */
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	/* width:70%; */
	padding: 10px;
}

.card{
	/* border-right: rebeccapurple 5px double; */
	margin-right: 25px;
	padding:30px;
}

.mc-aside {
	min-width: 300px;
	border-top: var(--aside-border);
	border-right: var(--aside-border);
	border-radius: 25px;
	padding: 3px;
}

.middle{
	display: flex;
	justify-content: flex-end;
	border-top: var(--middle-border);
	border-right: var(--middle-border);
	border-radius: 25px;
	padding: 3px;
	min-height: 100%;
	min-width: 100%;

}

.inside{
	display: flex;
	justify-content: flex-end;
	border-top: var(--inside-border);
	border-right: var(--inside-border);
	border-radius: 25px;
	min-height: 100%;
	min-width: 100%;
}

.text {
	padding: 10px;
}

.text:hover{
	border: hidden;
	border-radius: 25px;
	box-shadow: 10px 10px 8px rebeccapurple;
}

#mc00{
	display: flex;
}

#mc01{
	display: flex;
}

#mc02{
	display: flex;
}

#mc03{
	display: flex;
}
/*-----------------------------END of <main> tag style-------------------------------------------*/

@media screen and (max-width: 992px) {
	figure{
		height: 200px;
		margin: 20px;
	}
	#top{
		width: 100%;
	}
	nav{
		width: 100%;
	}
	.card{
		flex-direction: column;
	}
	.mc-aside {
		min-width: 300px;
		border: none;
		border-bottom: var(--aside-border);
		border-left: var(--aside-border);
		border-radius: 25px;
	}
	.inside{
		display: flex;
		justify-content: center;
		border: none;
		border-bottom: var(--inside-border);
		border-left: var(--inside-border);
		border-radius: 25px;
		min-width: 100%;
		min-height: 100%;
	}
	.text {
		box-shadow: none;
	}
}

/*The following code styles a narrow screen*/
@media screen and (max-width: 610px) {
	figure{
		display: none;
	}
	.navigation li{
		display: block;
		margin: 10px 0;
	}
}

/*The following code outlines the <footer> tag and its elements*/
footer{
	display: flex;
	height: 100px;
	/* border: yellow 2px dashed; */
	height: 100px;
	justify-content: center;
	align-items: center;
}
/*END of <footer> tag style*/