:root{
	--green: rgb(0, 255, 64);
	--aside-border: rgb(0, 255, 64) 2px solid;
	--middle-border: rebeccapurple 2px solid;
	--inside-border: yellow 2px solid;
}

/*Interesting, the mini project from the end of the CSS module designates a narrow-up design. Starting the most narrow view for portrait phones, then moving up for larger screen sizes. That means that I am coding the default style of the page for screens < 768px*/

* {
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

html{
	background-color: black;
}

/*Think of this as the page wrapper - I guess this is an older way of thinking!*/
body { 
	background-color: #000011;
	color: white;
	margin: 0 25px;
	font-size: 16px;
}

h1{
	font-size: 200%;
	font-weight: bold;
	display: block;
	margin: 20px;
}

h2{
	font-size: 175%;
	font-weight: bold;
	margin: 20px;
	font-family: Courier, monospace;
}

h3 {
	font-size: 150%;
	font-weight: bold;
	margin: 10px;
	font-family: Courier, monospace;
}

h4{
	font-size: 125%;
	font-weight: bold;
	margin: 10px;
}

h5 {
	font-size: 112%;
	font-weight: bold;
	margin: 10px;
}

h6 {
	font-size: 100%;
	font-weight: bold;
	margin: 10px;
}

p{
	margin: 10px;
}


/*The code below outlines the <header> tag and its elements*/
header{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 5px;
	min-height: 100px;
}

#top{
	display: flex;
	justify-content: center;
	padding: 10px;
	width: 100%;
}

nav{
	display: flex;
	width: 100%;
	align-self: flex-end;
	justify-content: center;
	font-size: 125%;
}

.navigation li{
	display: block;
	margin: 10px 0;
}
/*END of <header> tag style*/


/*The code below outlines the main <figure> tag and its elements*/
figure{
	display: none;
}

figcaption{
	display: none;
}
/*END of <figure> tag style*/


/*--------------The following code outlines the <main> tag and its elements----------------------*/
main{
	display: flex;
}

#main-content{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 10px;
}

.card{
	flex-direction: column;
	padding:30px;
}

.mc-aside {
	min-width: 300px;
	border-bottom: var(--aside-border);
	border-left: var(--aside-border);
	border-radius: 25px;
	padding: 3px;
}

.middle{
	display: flex;
	justify-content: flex-end;
	border-top: var(--middle-border);
	border-right: var(--middle-border);
	border-radius: 25px;
	padding: 3px;
	min-height: 100%;
	min-width: 100%;

}

.inside{
	display: flex;
	justify-content: center;
	border-bottom: var(--inside-border);
	border-left: var(--inside-border);
	border-radius: 25px;
	min-height: 100%;
	min-width: 100%;
	background-color: aqua;
	color: black;
}

.text {
	padding: 20px;
	line-height: 1.5;
	word-spacing: 0.2em;
}

/*This is the About Me section*/
#mc00{
	display: flex;
}

/*This is the Portfolio section*/
#mc01{
	display: flex;
}

/*This is the Education section*/
#mc02{
	display: flex;
}

#mc02 li{
	margin-bottom: 20px;
	list-style: inside;
	list-style-type: none;
}

/*This is the Contact Me section*/
#mc03{
	display: flex;
}
/*-----------------------------END of <main> tag style-------------------------------------------*/

/*The following code outlines the <footer> tag and its elements*/
footer{
	display: flex;
	border: black 1px solid;
	border-radius: 20px;
	background-color: aqua;
	color:black;
	margin:50px;
}

/*Code snippet taken from: https://www.w3docs.com/snippets/css/how-to-create-a-blinking-effect-with-css3-animations.html*/
.blink{
	animation: blink-animation 0.75s steps(5, start) infinite;
	-webkit-animation: blink-animation 0.75s steps(5, start) infinite;
  }
  @keyframes blink-animation {
	to {
	  visibility: hidden;
	}
  }
  @-webkit-keyframes blink-animation {
	to {
	  visibility: hidden;
	}
}
/*END of <footer> tag style*/

/*Think of this as the min-width for these styles to take affect*/
@media screen and (min-width: 768px){
	figure{
		display:block;
		height: 200px;
		margin-bottom: 25px;
		background-image: url("../images/ti-994a.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin: 20px;
	}
	.navigation li{
		display: inline;
		margin: 0px 5px ;
		margin-right: 10px;
	}
}

/*The following styles will take affect at larger screen sizes*/
@media screen and (min-width: 992px) {
	#top{
		display: flex;
		justify-content: start;
		padding: 10px;
	}
	nav{
		justify-content: end;
		margin-right: 50px;
	}
	figure{
		display:block;
		height: 400px;
		margin-bottom: 25px;
		background-image: url("../images/ti-994a.png");
		background-size: contain;
		background-repeat: no-repeat;
		background-position: center;
		margin: 20px;
	}
	.card{
		flex-direction: row;
		margin-right: 50px;
	}
	.mc-aside {
		border:none;
		border-top: var(--aside-border);
		border-right: var(--aside-border);
		border-radius: 25px;
		padding: 3px;
		flex: 0 0 25%;
		max-width: 25%;
	}
	.middle{
		display: flex;
		justify-content: flex-end;
		border:none;		
		border-top: var(--middle-border);
		border-right: var(--middle-border);
		border-radius: 25px;
		padding: 3px;
		min-height: 100%;
		min-width: 100%;
	
	}
	.inside{
		display: flex;
		/* justify-content: flex-end; */
		border: none;
		border-top: var(--inside-border);
		border-right: var(--inside-border);
		border-radius: 25px;
		min-height: 100%;
		min-width: 100%;
	}
	.text{
		margin:0 25px;
		width: 100%;
		border: var(--green) 1px solid;
		border-radius: 25px;
		transition: all 0.5s ease-in-out;
	}
	.text:hover{
		border-radius: 25px;
		box-shadow: inset 0px 0px 8px yellow, 0px 0px 10px rebeccapurple;
	}
}

